---
CompileFlags:
  Add:
    - -xc
    - -Wall
    - -Werror
    - -pedantic
    - -std=c11
    - -Ideps/sokol
    - -Ideps/sokol/util
    - -Ideps/buxn/include
    - -Ideps/buxn-jit/include
    - -Ideps/blibs
    - -Ideps/am_fft
